@use "styles/variables.scss";

.notFound {
  height: 50vh;
  width: 100%;
  text-align: center;
}

.details {
  font-family: "Inconsolata";
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
}

.button {
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  width: 50px;
  padding: 5px;
  border: 1px solid variables.$white;
  background: variables.$pink;
  color: variables.$dark_purple;
  border-radius: 2px;
  &:hover {
    background: variables.$lite_purple;
  }
}

.body {
  padding-top: 10px;
  width: 100%;
  display: flex;
}

.avatar_container {
  flex: 1;
  padding-right: 10px;
}

.details_container {
  flex: 2;
  h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 20px;
  }
}

.votes {
  padding: 5px;
  background: variables.$white;
  color: variables.$dark_purple;
  display: inline-block;
  border-radius: 2px;
  span {
    font-weight: 600;
    margin-right: 20px;
  }
}
