@use "styles/variables.scss";

@keyframes fadeInImg {
  from {
    top: -10px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes pulse {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.loading {
  opacity: 0;
}

.loaded {
  animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-delay: 0.1s;
}

.a_loading {
  animation: pulse;
  opacity: 0;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.a_loaded {
  animation: unset;
}

.avatar {
  position: relative;
  padding-top: 100%;
  background: variables.$yellow;
  img {
    position: absolute;
    top: 0;
    height: auto;
    width: 100%;
  }
}
