@use "styles/variables.scss";

.container {
  display: flex;
}

.selector {
  font-weight: 800;
  cursor: pointer;
  border: 1px solid variables.$dark_purple;
  background: variables.$yellow;
  color: variables.$dark_purple;
  padding: 5px;
  &:hover {
    background: variables.$sunset;
  }
  &:global(.active) {
    border: 1px solid variables.$white;
    background: variables.$pink;
    color: variables.$white;
  }
}
