@use "styles/variables";

.search {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  height: 30px;
  width: 200px;
  border: 3px solid variables.$sky;
  border-radius: 2px;
  background: variables.$blue;
  color: variables.$white;
  &:focus {
    border: 3px solid variables.$green;
    outline: none;
  }
  &::placeholder {
    font-weight: 300;
    font-style: italic;
    color: variables.$white;
  }
}

.results {
  border: 2px solid variables.$yellow;
  border-radius: 4px;
  margin-top: 10px;
}

.header {
  display: flex;
}

.heading {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
  background: variables.$yellow;
  color: variables.$dark_purple;
  &:last-child {
    border-right: none;
  }
}

.user_id {
  flex: 2;
}

.firstname {
  flex: 2;
}

.lastname {
  flex: 2;
}

.cat_text {
  flex: 4;
}

.upvotes {
  flex: 0.8;
}

.rows {
  height: 80vh;
  width: 100%;
  overflow: auto;
}

.row {
  display: flex;
  border-bottom: 1px solid variables.$blue;
}

.cell {
  padding: 10px 5px;
  border-right: 1px solid variables.$blue;
  &:last-child {
    border-right: none;
  }
}

.catLink {
  font-weight: 600;
  text-decoration: none;
  color: variables.$very_green;
  &:hover {
    text-decoration: underline;
  }
}

.noData {
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  width: 150px;
  text-align: center;
  background: variables.$white;
  color: variables.$dark_purple;
}
