@use 'styles/variables';

* {
  font-family: "Inconsolata", monospace;
}

.container {
  padding: 10px;
}

body {
  background: variables.$dark_purple;
  color: variables.$white;
}

*::-webkit-scrollbar {
  width: 11px;
  scrollbar-width: thin;
  scrollbar-color: variables.$yellow variables.$dark_purple;
}

*::-webkit-scrollbar-track {
  background: variables.$dark_purple;
}
*::-webkit-scrollbar-thumb {
  background-color: variables.$yellow;
  border-radius: 6px;
  border: 3px solid variables.$dark_purple;
}
